{% extends 'AdminTemplateBundle:layout:base-layout.html.twig' %}
{% block title %}Évènements{% endblock %}
{% block stylesheets %}
    <!-- fullCalendar 2.2.5-->
    <link rel="stylesheet" href="{{ asset('bundles/admintemplate/static/'~ app.environment ~'/styles/admin-lte-all.css') }}" />
    <link rel="stylesheet" href="{{ asset('bundles/adesignscalendar/css/fullcalendar/fullcalendar.css') }}" />
{% endblock %}
{% block javascripts_head %}
 <script type="text/javascript" src="{{ asset('bundles/adesignscalendar/js/jquery/jquery-1.8.2.min.js') }}"></script>
{% endblock %}
{% block page_title %}{% endblock %}
{% block page_subtitle %}{% endblock %}
{% block page_content %}
    <div class="container">
        <div class="row">
            <div class="col-md-11">
                {% if event.type == "control" %}
                    <div class="box box-primary">
                        <div class="box-header with-border">
                          <h3 class="box-title">Contrôle : {{ event.title }}</h3>
                        </div>
                        <div class="box-body">
                            <p>
                                <th><h4>Titre :</h4></th>
                                <td>{{ event.title }}</td>
                            </p>
                            <p>
                                <th><h4>Date de début :</h4></th>
                                <td>{{ event.startDatetime | date("d/m/Y H:i", "Europe/Paris")}}</td>
                            </p>
                            <p>
                                <th><h4>Date de fin :</h4></th>
                                <td>{{ event.endDatetime | date("d/m/Y H:i", "Europe/Paris")}}</td>
                            </p>
                            <p>
                                <th><h4>Coefficient:</h4></th>
                                <td>{{ event.coefficient }}</td>
                            </p>
                            <div class="box-footer">
                                <p>
                                    <a class="btn btn-primary btn-warning" href="{{ path('control_edit', {'id': event.id }) }}">Modifier un contrôle</a>
                                    <a class="btn btn-primary btn-danger" href="{{ path('event_delete', {'id': event.id }) }} ">Supprimer un contrôle</a>
                                </p>
                            </div>
                       </div>
                    </div>
                {% elseif event.type == "lesson"%}
                    <div class="box box-primary">
                        <div class="box-header with-border">
                          <h3 class="box-title">Cours : {{ event.title }}</h3>
                        </div>
                        <div class="box-body">
                            <p>
                                <th><h4>Titre :</h4></th>
                                <td>{{ event.title }}</td>
                            </p>
                            <p>
                                <th><h4>Date de début :</h4></th>
                                <td>{{ event.startDatetime | date("d/m/Y H:i", "Europe/Paris")}}</td>
                            </p>
                            <p>
                                <th><h4>Date de fin :</h4></th>
                                <td>{{ event.endDatetime | date("d/m/Y H:i", "Europe/Paris")}}</td>
                            </p>
                            <div class="box-footer">
                                <p>
                                    <a class="btn btn-primary btn-warning" href="{{ path('lesson_edit', {'id': event.id }) }}">Modifier un cours</a>
                                    <a class="btn btn-primary btn-danger" href="{{ path('event_delete', {'id': event.id }) }} ">Supprimer un cours</a>
                                </p>
                            </div>
                       </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}


{% block javascripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment-with-locales.min.js"></script>

    <script type="text/javascript" src="{{ asset('bundles/admintemplate/static/dev/scripts/admin-lte-calendar.js') }}"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.6.1/lang/fr.js"></script>
    <!-- jQuery UI 1.11.4 -->
    <script type="text/javascript" src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>

    <script type="text/javascript" src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>

    <!-- FastClick -->
    <script type="text/javascript">
        $(function () {
            var date = new Date();
            var d = date.getDate();
            var m = date.getMonth();
            var y = date.getFullYear();

            $('#calendar-holder').fullCalendar({
                defaultView: 'agendaWeek',
                businessHours: true,
                eventSources: [{
                    url: Routing.generate('event_fullcalendar_loader'),
                    type: 'POST',

                    error: function() {
                       $('.alert-danger').removeClass('hide');
                    },
                }],
                eventLimit: true,
                header: {
                    left: 'prev, next, today',
                    center: 'title',
                    right: 'month, agendaWeek, agendaDay'
                },
                dayClick: function(date, jsEvent, view, resourceObj) {
                    if (view.name == 'month' || view.name == 'basicWeek') {
                        $('#calendar-holder').fullCalendar('changeView', 'agendaDay');
                        $('#calendar-holder').fullCalendar('gotoDate', date);
                    }
                },
                eventRender: function (event, element) {
                    element.find('.fc-title').html(event.title);
                },
                lazyFetching: true,
                height: 600,
            });
        });
    </script>
{% endblock %}
