{% extends 'AdminTemplateBundle:layout:base-layout.html.twig' %}
{% block title %}Consulter les évènements{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/admintemplate/static/'~ app.environment ~'/styles/admin-lte-all.css') }}" />
    <link rel="stylesheet" href="{{ asset('bundles/adesignscalendar/css/fullcalendar/fullcalendar.css') }}" />
{% endblock %}
{% block javascripts_head %}{% endblock %}
{% block page_title %}{% endblock %}
{% block page_subtitle %}{% endblock %}
{% block page_content %}
    <div class="container">
    	<div class="row">
    		<div class="col-md-11">
    			<div class="box box-primary">
		    		<div class="box-header with-border">
		              <h3 class="box-title">Consulter les évènement</h3>
		            </div>
		            <div class="box-body">
					    {% include 'ADesignsCalendarBundle::calendar.html.twig' %}
					    <div class="box-footer">
							<a class="btn btn-primary" href="{{ path('classe_edit', {'id': classe.id }) }}">Modifier</a>
							<a class="btn btn-primary" href="{{ path('classe_delete', {'id': classe.id }) }}" onclick="return confirm('Êtes-vous sur de supprimer cette classe ?')">Supprimer</a>
					    </div>
				   </div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('bundles/admintemplate/static/'~ app.environment ~'/scripts/common.js') }}"></script>
    <script src="{{ asset('bundles/admintemplate/static/'~ app.environment ~'/scripts/admin-lte.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/adesignscalendar/js/jquery/jquery-1.8.2.min.js') }}"></script>
	<script type="text/javascript" src="{{ asset('bundles/adesignscalendar/js/fullcalendar/jquery.fullcalendar.min.js') }}"></script>
	<script type="text/javascript" src="{{ asset('bundles/adesignscalendar/js/calendar-settings.js') }}"></script>
{% endblock %}
{% block javascripts_inline %}{% endblock %}
